
# IDEs and editors
/.vscode
*.swp
*.swo
*.swn
*.bak
*.orig

# Python artifacts
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
**/__pycache__/

# files to ignore
img_source_test.py

# folders to ignore
/backup_cv2

# file types to ignore
*.mp4
*.pt
*.pth
*.onnx
*.prof
*.deb
*.pyc

