
# IDEs and editors
/.vscode
/.idea
*.swp
*.swo
*.swn
*.bak
*.orig

# Python artifacts
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
**/__pycache__/

# files to ignore
img_source_test.py
test.ipynb
opencv_install.md
Model_variation.md
qodana.yaml
frame_in.jpg
assets/image.png
img_after_processing.png
setup.py

# folders to ignore
/backup_cv2
/outputs

# file types to ignore
*.mp4
*.pt
*.pth
*.onnx
*.prof
*.deb
*.log

